<div id="aflot_div"><br /><b>Lot No: </b> @Html.DropDownList("aflot_ddl", (SelectList)ViewBag.af_lot_list) 
    &nbsp;&nbsp;&nbsp;  
    <input id="select_aflot_btn" type="button" value="Select" />

    @*<font color="white">*@
        <span id="lot_details">AF:  
            <b><span id="afnum_span"></span></b> &nbsp; | &nbsp;&nbsp;Status: 
            <b><span id="aflot_status_span"></span></b>
        <span class=""> &nbsp; | &nbsp;&nbsp;Lot No: </span>
        <span id="aflotnum_lbl"></span></span><br><br>
   @* </font>*@
</div>