@{
    ViewBag.Title = "_AFLotNo";
}

@*<h2>_AFLotNo</h2>*@
<div id="newaflot_div">
    @*<font color="white">*@
        <span id="lot_details">AF:  
            <b><span id="afnum_span"></span></b> &nbsp; | &nbsp;&nbsp;Status: 
            <b><span id="aflot_status_span"></span></b>
        <span class=""> &nbsp; | &nbsp;&nbsp;Lot N  o: </span>
        <span id="aflotnum_lbl"></span></span><br><br>
   @* </font>*@
</div>