<div id="add_fpattern_div">
<div id="fsfe_fpatternid">@ViewBag.FPatternId</div>
<b>Flame Pattern</b>
    <br /><br />
<div>
    Description:
    <br /><br />
    <textarea id="edit_fpattern_txtarea">@ViewBag.FPatternRemarks
    </textarea>
     <br />
    Replace with other Picture. <input type="checkbox" id="fpattern_editpic" />
     <br />
    Choose a picture:
    <input id="fileUpload_edit" type="file" disabled="disabled" />
    <br />
      <br />
    <input id="edit_fpattern_btn" type="button" value="Save" /> 
   </div>
</div>