<div id="add_fpattern_div">
<b>Flame Pattern</b>
    <br /><br />
<div>
    Description:
    <br /><br />
    <textarea id="add_fpattern_txtarea">

    </textarea>
     <br /><br />
    
    Choose a picture: <input id="fileUpload" type="file" />
    <br /><br />
<input id="btnUploadFile" type="button" value="Save" /></div>

</div>