<div id="add_fii_div">
<b>FII Inspection</b>
    <br /><br /><br />

<div>
    Remarks:
    <br /><br />
    <textarea id="add_fii_txtarea"></textarea>
     <br />
    Inspection Point: @Html.DropDownList("fsfefii_spot_ddl", (SelectList)ViewBag.fsfe_fii_spotlist)
     <br /><br />
    Picture: <input id="fileUploadFII" type="file" />
    <br /><br />
<input id="add_fii_upload_btn" type="button" value="Add" /></div>

</div>