<div id="add_mtapper_div">
<b>Add Matter Tapper</b>
<br />
<br />


<div>Matte Tapper #: <input id="add_mtappernum_txtb" type ="text" ></div>
<br />
  <br />  


<div>Matte Tapper: @Html.DropDownList("mtapper_ddl", (SelectList)ViewBag.fsfe_emplist)
    <br />
     <br />
       <br />
     <br />
    <input id="add_mtapper_ok_btn" type="button" value="Add" />&nbsp;<input id="add_mtapper_close_btn" type="button" value="Close" />

</div>
</div>