<div id="add_regcrew_div">
<b>Add Regular Crew</b>
<br />
<br />
<div>Regular Crew: @Html.DropDownList("regularcrew_ddl", (SelectList)ViewBag.fsfe_emplist)</div>
<br />
    <br />
<div>Special Activity:
    <br /><br />
    <textarea id="add_regcrew_txtarea"></textarea>
    <br />
    <input id="add_regcrew_ok_btn" type="button" value="Add" />&nbsp;<input id="add_regcrew_close_btn" type="button" value="Close" />

</div>
</div>