@*<table class="spp_tbl" id="spp_plan_tbl" style="height: 100%; width: 2200px;">
    <tr style="height: 10px;">
        <th colspan="2">SHIFT</th>
        <th colspan="4" class="first_shift"></th>
        <th colspan="32" class="second_shift">2ND SHIFT</th>
        <th colspan="32" class="third_shift">3RD SHIFT</th>
        <th colspan="28" class="first_shift">1ST SHIFT</th>
    </tr>
    <tr style="height: 10px;">
        <th colspan="2" class="label_th">TIME(hourly)</th>
        <th colspan="4">6:00</th>
        <th colspan="4">7:00</th>
        <th colspan="4">8:00</th>
        <th colspan="4">9:00</th>
        <th colspan="4">10:00</th>
        <th colspan="4">11:00</th>
        <th colspan="4">12:00</th>
        <th colspan="4">13:00</th>
        <th colspan="4">14:00</th>
        <th colspan="4">15:00</th>
        <th colspan="4">16:00</th>
        <th colspan="4">17:00</th>
        <th colspan="4">18:00</th>
        <th colspan="4">19:00</th>
        <th colspan="4">20:00</th>
        <th colspan="4">21:00</th>
        <th colspan="4">22:00</th>
        <th colspan="4">23:00</th>
        <th colspan="4">00:00</th>
        <th colspan="4">1:00</th>
        <th colspan="4">2:00</th>
        <th colspan="4">3:00</th>
        <th colspan="4">4:00</th>
        <th colspan="4">5:00</th>
    </tr>
    <tr class="time_span time_span_actual">
        <th colspan="2" class="label_th">Time</th>
        <th><span>6:00</span></th>
        <th><span>6:15</span></th>
        <th><span>6:30</span></th>
        <th><span>6:45</span></th>
        <th><span>7:00</span></th>
        <th><span>7:15</span></th>
        <th><span>7:30</span></th>
        <th><span>7:45</span></th>
        <th><span>8:00</span></th>
        <th><span>8:15</span></th>
        <th><span>8:30</span></th>
        <th><span>8:45</span></th>
        <th><span>9:00</span></th>
        <th><span>9:15</span></th>
        <th><span>9:30</span></th>
        <th><span>9:45</span></th>
        <th><span>10:00</span></th>
        <th><span>10:15</span></th>
        <th><span>10:30</span></th>
        <th><span>10:45</span></th>
        <th><span>11:00</span></th>
        <th><span>11:15</span></th>
        <th><span>11:30</span></th>
        <th><span>11:45</span></th>
        <th><span>12:00</span></th>
        <th><span>12:15</span></th>
        <th><span>12:30</span></th>
        <th><span>12:45</span></th>
        <th><span>13:00</span></th>
        <th><span>13:15</span></th>
        <th><span>13:30</span></th>
        <th><span>13:45</span></th>
        <th><span>14:00</span></th>
        <th><span>14:15</span></th>
        <th><span>14:30</span></th>
        <th><span>14:45</span></th>
        <th><span>15:00</span></th>
        <th><span>15:15</span></th>
        <th><span>15:30</span></th>
        <th><span>15:45</span></th>
        <th><span>16:00</span></th>
        <th><span>16:15</span></th>
        <th><span>16:30</span></th>
        <th><span>16:45</span></th>
        <th><span>17:00</span></th>
        <th><span>17:15</span></th>
        <th><span>17:30</span></th>
        <th><span>17:45</span></th>
        <th><span>18:00</span></th>
        <th><span>18:15</span></th>
        <th><span>18:30</span></th>
        <th><span>18:45</span></th>
        <th><span>19:00</span></th>
        <th><span>19:15</span></th>
        <th><span>19:30</span></th>
        <th><span>19:45</span></th>
        <th><span>20:00</span></th>
        <th><span>20:15</span></th>
        <th><span>20:30</span></th>
        <th><span>20:45</span></th>
        <th><span>21:00</span></th>
        <th><span>21:15</span></th>
        <th><span>21:30</span></th>
        <th><span>21:45</span></th>
        <th><span>22:00</span></th>
        <th><span>22:15</span></th>
        <th><span>22:30</span></th>
        <th><span>22:45</span></th>
        <th><span>23:00</span></th>
        <th><span>23:15</span></th>
        <th><span>23:30</span></th>
        <th><span>23:45</span></th>
        <th><span>0:00</span></th>
        <th><span>0:15</span></th>
        <th><span>0:30</span></th>
        <th><span>0:45</span></th>
        <th><span>1:00</span></th>
        <th><span>1:15</span></th>
        <th><span>1:30</span></th>
        <th><span>1:45</span></th>
        <th><span>2:00</span></th>
        <th><span>2:15</span></th>
        <th><span>2:30</span></th>
        <th><span>2:45</span></th>
        <th><span>3:00</span></th>
        <th><span>3:15</span></th>
        <th><span>3:30</span></th>
        <th><span>3:45</span></th>
        <th><span>4:00</span></th>
        <th><span>4:15</span></th>
        <th><span>4:30</span></th>
        <th><span>4:45</span></th>
        <th><span>5:00</span></th>
        <th><span>5:15</span></th>
        <th><span>5:30</span></th>
        <th><span>5:45</span></th>
    </tr>*@
<table class="smeltplan_tbl" id="smeltbl">
    <tr>
        <th colspan="2" style="width: 100px">Shift</th>
        <th colspan="4" class="first_shift"></th>
        <th colspan="32" class="second_shift">2ND SHIFT</th>
        <th colspan="32" class="third_shift">3RD SHIFT</th>
        <th colspan="28" class="first_shift">1ST SHIFT</th>
    </tr>
    <tr>
        <th colspan="2">TIME (hourly)</th>
        <th colspan="4">06:00</th>
        <th colspan="4">07:00</th>
        <th colspan="4">08:00</th>
        <th colspan="4">09:00</th>
        <th colspan="4">10:00</th>
        <th colspan="4">11:00</th>
        <th colspan="4">12:00</th>
        <th colspan="4">13:00</th>
        <th colspan="4">14:00</th>
        <th colspan="4">15:00</th>
        <th colspan="4">16:00</th>
        <th colspan="4">17:00</th>
        <th colspan="4">18:00</th>
        <th colspan="4">19:00</th>
        <th colspan="4">20:00</th>
        <th colspan="4">21:00</th>
        <th colspan="4">22:00</th>
        <th colspan="4">23:00</th>
        <th colspan="4">00:00</th>
        <th colspan="4">01:00</th>
        <th colspan="4">02:00</th>
        <th colspan="4">03:00</th>
        <th colspan="4">04:00</th>
        <th colspan="4">05:00</th>
    </tr>
    <tr>
        <th colspan="2" class="label_th">Time</th>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">06:00</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">06:15</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">06:30</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">06:45</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">07:00</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">07:15</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">07:30</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">07:45</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">08:00</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">08:15</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">08:30</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">08:45</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">09:00</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">09:15</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">09:30</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">09:45</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">10:00</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">10:15</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">10:30</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">10:45</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">11:00</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">11:15</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">11:30</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">11:45</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">12:00</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">12:15</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">12:30</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">12:45</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">13:00</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">13:15</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">13:30</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">13:45</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">14:00</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">14:15</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">14:30</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">14:45</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">15:00</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">15:15</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">15:30</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">15:45</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">16:00</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">16:15</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">16:30</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">16:45</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">17:00</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">17:15</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">17:30</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">17:45</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">18:00</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">18:15</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">18:30</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">18:45</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">19:00</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">19:15</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">19:30</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">19:45</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">20:00</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">20:15</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">20:30</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">20:45</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">21:00</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">21:15</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">21:30</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">21:45</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">22:00</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">22:15</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">22:30</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">22:45</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">23:00</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">23:15</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">23:30</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">23:45</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">00:00</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">00:15</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">00:30</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">00:45</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">01:00</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">01:15</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">01:30</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">01:45</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">02:00</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">02:15</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">02:30</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">02:45</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">03:00</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">03:15</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">03:30</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">03:45</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">04:00</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">04:15</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">04:30</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">04:45</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">05:00</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">05:15</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">05:30</div>
            </div>
        </td>
        <td class="time_span">
            <div class="vertical-text">
                <div class="vertical-text-inner">05:45</div>
            </div>
        </td>
    </tr>
    <tr class="feed_rate_actual">
        <th rowspan="4" class="">FSF</th>
        <th class="label_th" style="font-size: 8px;">Feed Plan</th>
        <td colspan="2" id="paramid_1_1"></td>
        <td colspan="2" id="paramid_1_3"></td>
        <td colspan="2" id="paramid_1_5"></td>
        <td colspan="2" id="paramid_1_7"></td>
        <td colspan="2" id="paramid_1_9"></td>
        <td colspan="2" id="paramid_1_11"></td>
        <td colspan="2" id="paramid_1_13"></td>
        <td colspan="2" id="paramid_1_15"></td>
        <td colspan="2" id="paramid_1_17"></td>
        <td colspan="2" id="paramid_1_19"></td>
        <td colspan="2" id="paramid_1_21"></td>
        <td colspan="2" id="paramid_1_23"></td>
        <td colspan="2" id="paramid_1_25"></td>
        <td colspan="2" id="paramid_1_27"></td>
        <td colspan="2" id="paramid_1_29"></td>
        <td colspan="2" id="paramid_1_31"></td>
        <td colspan="2" id="paramid_1_33"></td>
        <td colspan="2" id="paramid_1_35"></td>
        <td colspan="2" id="paramid_1_37"></td>
        <td colspan="2" id="paramid_1_39"></td>
        <td colspan="2" id="paramid_1_41"></td>
        <td colspan="2" id="paramid_1_43"></td>
        <td colspan="2" id="paramid_1_45"></td>
        <td colspan="2" id="paramid_1_47"></td>
        <td colspan="2" id="paramid_1_49"></td>
        <td colspan="2" id="paramid_1_51"></td>
        <td colspan="2" id="paramid_1_53"></td>
        <td colspan="2" id="paramid_1_55"></td>
        <td colspan="2" id="paramid_1_57"></td>
        <td colspan="2" id="paramid_1_59"></td>
        <td colspan="2" id="paramid_1_61"></td>
        <td colspan="2" id="paramid_1_63"></td>
        <td colspan="2" id="paramid_1_65"></td>
        <td colspan="2" id="paramid_1_67"></td>
        <td colspan="2" id="paramid_1_69"></td>
        <td colspan="2" id="paramid_1_71"></td>
        <td colspan="2" id="paramid_1_73"></td>
        <td colspan="2" id="paramid_1_75"></td>
        <td colspan="2" id="paramid_1_77"></td>
        <td colspan="2" id="paramid_1_79"></td>
        <td colspan="2" id="paramid_1_81"></td>
        <td colspan="2" id="paramid_1_83"></td>
        <td colspan="2" id="paramid_1_85"></td>
        <td colspan="2" id="paramid_1_87"></td>
        <td colspan="2" id="paramid_1_89"></td>
        <td colspan="2" id="paramid_1_91"></td>
        <td colspan="2" id="paramid_1_93"></td>
        <td colspan="2" id="paramid_1_95"></td>
    </tr>
    <tr class="feed_rate_actual">
        <th class="label_th" style="font-size: 8px;">Feed Actual</th>
        <td colspan="2" id="actual_paramid_1_1"></td>
        <td colspan="2" id="actual_paramid_1_3"></td>
        <td colspan="2" id="actual_paramid_1_5"></td>
        <td colspan="2" id="actual_paramid_1_7"></td>
        <td colspan="2" id="actual_paramid_1_9"></td>
        <td colspan="2" id="actual_paramid_1_11"></td>
        <td colspan="2" id="actual_paramid_1_13"></td>
        <td colspan="2" id="actual_paramid_1_15"></td>
        <td colspan="2" id="actual_paramid_1_17"></td>
        <td colspan="2" id="actual_paramid_1_19"></td>
        <td colspan="2" id="actual_paramid_1_21"></td>
        <td colspan="2" id="actual_paramid_1_23"></td>
        <td colspan="2" id="actual_paramid_1_25"></td>
        <td colspan="2" id="actual_paramid_1_27"></td>
        <td colspan="2" id="actual_paramid_1_29"></td>
        <td colspan="2" id="actual_paramid_1_31"></td>
        <td colspan="2" id="actual_paramid_1_33"></td>
        <td colspan="2" id="actual_paramid_1_35"></td>
        <td colspan="2" id="actual_paramid_1_37"></td>
        <td colspan="2" id="actual_paramid_1_39"></td>
        <td colspan="2" id="actual_paramid_1_41"></td>
        <td colspan="2" id="actual_paramid_1_43"></td>
        <td colspan="2" id="actual_paramid_1_45"></td>
        <td colspan="2" id="actual_paramid_1_47"></td>
        <td colspan="2" id="actual_paramid_1_49"></td>
        <td colspan="2" id="actual_paramid_1_51"></td>
        <td colspan="2" id="actual_paramid_1_53"></td>
        <td colspan="2" id="actual_paramid_1_55"></td>
        <td colspan="2" id="actual_paramid_1_57"></td>
        <td colspan="2" id="actual_paramid_1_59"></td>
        <td colspan="2" id="actual_paramid_1_61"></td>
        <td colspan="2" id="actual_paramid_1_63"></td>
        <td colspan="2" id="actual_paramid_1_65"></td>
        <td colspan="2" id="actual_paramid_1_67"></td>
        <td colspan="2" id="actual_paramid_1_69"></td>
        <td colspan="2" id="actual_paramid_1_71"></td>
        <td colspan="2" id="actual_paramid_1_73"></td>
        <td colspan="2" id="actual_paramid_1_75"></td>
        <td colspan="2" id="actual_paramid_1_77"></td>
        <td colspan="2" id="actual_paramid_1_79"></td>
        <td colspan="2" id="actual_paramid_1_81"></td>
        <td colspan="2" id="actual_paramid_1_83"></td>
        <td colspan="2" id="actual_paramid_1_85"></td>
        <td colspan="2" id="actual_paramid_1_87"></td>
        <td colspan="2" id="actual_paramid_1_89"></td>
        <td colspan="2" id="actual_paramid_1_91"></td>
        <td colspan="2" id="actual_paramid_1_93"></td>
        <td colspan="2" id="actual_paramid_1_95"></td>
    </tr>
    @*<tr class="">
        <th class="label_th" style="font-size: 8px;">Conc Feed Plan</th>
        <td id="paramid_33_1"></td>
        <td id="paramid_33_2"></td>
        <td id="paramid_33_3"></td>
        <td id="paramid_33_4"></td>
        <td id="paramid_33_5"></td>
        <td id="paramid_33_6"></td>
        <td id="paramid_33_7"></td>
        <td id="paramid_33_8"></td>
        <td id="paramid_33_9"></td>
        <td id="paramid_33_10"></td>
        <td id="paramid_33_11"></td>
        <td id="paramid_33_12"></td>
        <td id="paramid_33_13"></td>
        <td id="paramid_33_14"></td>
        <td id="paramid_33_15"></td>
        <td id="paramid_33_16"></td>
        <td id="paramid_33_17"></td>
        <td id="paramid_33_18"></td>
        <td id="paramid_33_19"></td>
        <td id="paramid_33_20"></td>
        <td id="paramid_33_21"></td>
        <td id="paramid_33_22"></td>
        <td id="paramid_33_23"></td>
        <td id="paramid_33_24"></td>
        <td id="paramid_33_25"></td>
        <td id="paramid_33_26"></td>
        <td id="paramid_33_27"></td>
        <td id="paramid_33_28"></td>
        <td id="paramid_33_29"></td>
        <td id="paramid_33_30"></td>
        <td id="paramid_33_31"></td>
        <td id="paramid_33_32"></td>
        <td id="paramid_33_33"></td>
        <td id="paramid_33_34"></td>
        <td id="paramid_33_35"></td>
        <td id="paramid_33_36"></td>
        <td id="paramid_33_37"></td>
        <td id="paramid_33_38"></td>
        <td id="paramid_33_39"></td>
        <td id="paramid_33_40"></td>
        <td id="paramid_33_41"></td>
        <td id="paramid_33_42"></td>
        <td id="paramid_33_43"></td>
        <td id="paramid_33_44"></td>
        <td id="paramid_33_45"></td>
        <td id="paramid_33_46"></td>
        <td id="paramid_33_47"></td>
        <td id="paramid_33_48"></td>
        <td id="paramid_33_49"></td>
        <td id="paramid_33_50"></td>
        <td id="paramid_33_51"></td>
        <td id="paramid_33_52"></td>
        <td id="paramid_33_53"></td>
        <td id="paramid_33_54"></td>
        <td id="paramid_33_55"></td>
        <td id="paramid_33_56"></td>
        <td id="paramid_33_57"></td>
        <td id="paramid_33_58"></td>
        <td id="paramid_33_59"></td>
        <td id="paramid_33_60"></td>
        <td id="paramid_33_61"></td>
        <td id="paramid_33_62"></td>
        <td id="paramid_33_63"></td>
        <td id="paramid_33_64"></td>
        <td id="paramid_33_65"></td>
        <td id="paramid_33_66"></td>
        <td id="paramid_33_67"></td>
        <td id="paramid_33_68"></td>
        <td id="paramid_33_69"></td>
        <td id="paramid_33_70"></td>
        <td id="paramid_33_71"></td>
        <td id="paramid_33_72"></td>
        <td id="paramid_33_73"></td>
        <td id="paramid_33_74"></td>
        <td id="paramid_33_75"></td>
        <td id="paramid_33_76"></td>
        <td id="paramid_33_77"></td>
        <td id="paramid_33_78"></td>
        <td id="paramid_33_79"></td>
        <td id="paramid_33_80"></td>
        <td id="paramid_33_81"></td>
        <td id="paramid_33_82"></td>
        <td id="paramid_33_83"></td>
        <td id="paramid_33_84"></td>
        <td id="paramid_33_85"></td>
        <td id="paramid_33_86"></td>
        <td id="paramid_33_87"></td>
        <td id="paramid_33_88"></td>
        <td id="paramid_33_89"></td>
        <td id="paramid_33_90"></td>
        <td id="paramid_33_91"></td>
        <td id="paramid_33_92"></td>
        <td id="paramid_33_93"></td>
        <td id="paramid_33_94"></td>
        <td id="paramid_33_95"></td>
        <td id="paramid_33_96"></td>
    </tr>
    <tr class="">
        <th class="label_th" style="font-size: 8px;">Conc Feed Actual</th>
        <td id="actual_paramid_33_1"></td>
        <td id="actual_paramid_33_2"></td>
        <td id="actual_paramid_33_3"></td>
        <td id="actual_paramid_33_4"></td>
        <td id="actual_paramid_33_5"></td>
        <td id="actual_paramid_33_6"></td>
        <td id="actual_paramid_33_7"></td>
        <td id="actual_paramid_33_8"></td>
        <td id="actual_paramid_33_9"></td>
        <td id="actual_paramid_33_10"></td>
        <td id="actual_paramid_33_11"></td>
        <td id="actual_paramid_33_12"></td>
        <td id="actual_paramid_33_13"></td>
        <td id="actual_paramid_33_14"></td>
        <td id="actual_paramid_33_15"></td>
        <td id="actual_paramid_33_16"></td>
        <td id="actual_paramid_33_17"></td>
        <td id="actual_paramid_33_18"></td>
        <td id="actual_paramid_33_19"></td>
        <td id="actual_paramid_33_20"></td>
        <td id="actual_paramid_33_21"></td>
        <td id="actual_paramid_33_22"></td>
        <td id="actual_paramid_33_23"></td>
        <td id="actual_paramid_33_24"></td>
        <td id="actual_paramid_33_25"></td>
        <td id="actual_paramid_33_26"></td>
        <td id="actual_paramid_33_27"></td>
        <td id="actual_paramid_33_28"></td>
        <td id="actual_paramid_33_29"></td>
        <td id="actual_paramid_33_30"></td>
        <td id="actual_paramid_33_31"></td>
        <td id="actual_paramid_33_32"></td>
        <td id="actual_paramid_33_33"></td>
        <td id="actual_paramid_33_34"></td>
        <td id="actual_paramid_33_35"></td>
        <td id="actual_paramid_33_36"></td>
        <td id="actual_paramid_33_37"></td>
        <td id="actual_paramid_33_38"></td>
        <td id="actual_paramid_33_39"></td>
        <td id="actual_paramid_33_40"></td>
        <td id="actual_paramid_33_41"></td>
        <td id="actual_paramid_33_42"></td>
        <td id="actual_paramid_33_43"></td>
        <td id="actual_paramid_33_44"></td>
        <td id="actual_paramid_33_45"></td>
        <td id="actual_paramid_33_46"></td>
        <td id="actual_paramid_33_47"></td>
        <td id="actual_paramid_33_48"></td>
        <td id="actual_paramid_33_49"></td>
        <td id="actual_paramid_33_50"></td>
        <td id="actual_paramid_33_51"></td>
        <td id="actual_paramid_33_52"></td>
        <td id="actual_paramid_33_53"></td>
        <td id="actual_paramid_33_54"></td>
        <td id="actual_paramid_33_55"></td>
        <td id="actual_paramid_33_56"></td>
        <td id="actual_paramid_33_57"></td>
        <td id="actual_paramid_33_58"></td>
        <td id="actual_paramid_33_59"></td>
        <td id="actual_paramid_33_60"></td>
        <td id="actual_paramid_33_61"></td>
        <td id="actual_paramid_33_62"></td>
        <td id="actual_paramid_33_63"></td>
        <td id="actual_paramid_33_64"></td>
        <td id="actual_paramid_33_65"></td>
        <td id="actual_paramid_33_66"></td>
        <td id="actual_paramid_33_67"></td>
        <td id="actual_paramid_33_68"></td>
        <td id="actual_paramid_33_69"></td>
        <td id="actual_paramid_33_70"></td>
        <td id="actual_paramid_33_71"></td>
        <td id="actual_paramid_33_72"></td>
        <td id="actual_paramid_33_73"></td>
        <td id="actual_paramid_33_74"></td>
        <td id="actual_paramid_33_75"></td>
        <td id="actual_paramid_33_76"></td>
        <td id="actual_paramid_33_77"></td>
        <td id="actual_paramid_33_78"></td>
        <td id="actual_paramid_33_79"></td>
        <td id="actual_paramid_33_80"></td>
        <td id="actual_paramid_33_81"></td>
        <td id="actual_paramid_33_82"></td>
        <td id="actual_paramid_33_83"></td>
        <td id="actual_paramid_33_84"></td>
        <td id="actual_paramid_33_85"></td>
        <td id="actual_paramid_33_86"></td>
        <td id="actual_paramid_33_87"></td>
        <td id="actual_paramid_33_88"></td>
        <td id="actual_paramid_33_89"></td>
        <td id="actual_paramid_33_90"></td>
        <td id="actual_paramid_33_91"></td>
        <td id="actual_paramid_33_92"></td>
        <td id="actual_paramid_33_93"></td>
        <td id="actual_paramid_33_94"></td>
        <td id="actual_paramid_33_95"></td>
        <td id="actual_paramid_33_96"></td>
    </tr>*@
    <tr class="fsf_actual">
        <th class="label_th" style="font-size: 8px;">Matte Level Plan</th>
        <td colspan="2" id="paramid_2_1"></td>
        <td colspan="2" id="paramid_2_3"></td>
        <td colspan="2" id="paramid_2_5"></td>
        <td colspan="2" id="paramid_2_7"></td>
        <td colspan="2" id="paramid_2_9"></td>
        <td colspan="2" id="paramid_2_11"></td>
        <td colspan="2" id="paramid_2_13"></td>
        <td colspan="2" id="paramid_2_15"></td>
        <td colspan="2" id="paramid_2_17"></td>
        <td colspan="2" id="paramid_2_19"></td>
        <td colspan="2" id="paramid_2_21"></td>
        <td colspan="2" id="paramid_2_23"></td>
        <td colspan="2" id="paramid_2_25"></td>
        <td colspan="2" id="paramid_2_27"></td>
        <td colspan="2" id="paramid_2_29"></td>
        <td colspan="2" id="paramid_2_31"></td>
        <td colspan="2" id="paramid_2_33"></td>
        <td colspan="2" id="paramid_2_35"></td>
        <td colspan="2" id="paramid_2_37"></td>
        <td colspan="2" id="paramid_2_39"></td>
        <td colspan="2" id="paramid_2_41"></td>
        <td colspan="2" id="paramid_2_43"></td>
        <td colspan="2" id="paramid_2_45"></td>
        <td colspan="2" id="paramid_2_47"></td>
        <td colspan="2" id="paramid_2_49"></td>
        <td colspan="2" id="paramid_2_51"></td>
        <td colspan="2" id="paramid_2_53"></td>
        <td colspan="2" id="paramid_2_55"></td>
        <td colspan="2" id="paramid_2_57"></td>
        <td colspan="2" id="paramid_2_59"></td>
        <td colspan="2" id="paramid_2_61"></td>
        <td colspan="2" id="paramid_2_63"></td>
        <td colspan="2" id="paramid_2_65"></td>
        <td colspan="2" id="paramid_2_67"></td>
        <td colspan="2" id="paramid_2_69"></td>
        <td colspan="2" id="paramid_2_71"></td>
        <td colspan="2" id="paramid_2_73"></td>
        <td colspan="2" id="paramid_2_75"></td>
        <td colspan="2" id="paramid_2_77"></td>
        <td colspan="2" id="paramid_2_79"></td>
        <td colspan="2" id="paramid_2_81"></td>
        <td colspan="2" id="paramid_2_83"></td>
        <td colspan="2" id="paramid_2_85"></td>
        <td colspan="2" id="paramid_2_87"></td>
        <td colspan="2" id="paramid_2_89"></td>
        <td colspan="2" id="paramid_2_91"></td>
        <td colspan="2" id="paramid_2_93"></td>
        <td colspan="2" id="paramid_2_95"></td>
    </tr>
    <tr class="fsf_actual">
        <th class="label_th" style="font-size: 8px;">Matte Level Actual</th>
        <td colspan="2" id="actual_paramid_2_1"></td>
        <td colspan="2" id="actual_paramid_2_3"></td>
        <td colspan="2" id="actual_paramid_2_5"></td>
        <td colspan="2" id="actual_paramid_2_7"></td>
        <td colspan="2" id="actual_paramid_2_9"></td>
        <td colspan="2" id="actual_paramid_2_11"></td>
        <td colspan="2" id="actual_paramid_2_13"></td>
        <td colspan="2" id="actual_paramid_2_15"></td>
        <td colspan="2" id="actual_paramid_2_17"></td>
        <td colspan="2" id="actual_paramid_2_19"></td>
        <td colspan="2" id="actual_paramid_2_21"></td>
        <td colspan="2" id="actual_paramid_2_23"></td>
        <td colspan="2" id="actual_paramid_2_25"></td>
        <td colspan="2" id="actual_paramid_2_27"></td>
        <td colspan="2" id="actual_paramid_2_29"></td>
        <td colspan="2" id="actual_paramid_2_31"></td>
        <td colspan="2" id="actual_paramid_2_33"></td>
        <td colspan="2" id="actual_paramid_2_35"></td>
        <td colspan="2" id="actual_paramid_2_37"></td>
        <td colspan="2" id="actual_paramid_2_39"></td>
        <td colspan="2" id="actual_paramid_2_41"></td>
        <td colspan="2" id="actual_paramid_2_43"></td>
        <td colspan="2" id="actual_paramid_2_45"></td>
        <td colspan="2" id="actual_paramid_2_47"></td>
        <td colspan="2" id="actual_paramid_2_49"></td>
        <td colspan="2" id="actual_paramid_2_51"></td>
        <td colspan="2" id="actual_paramid_2_53"></td>
        <td colspan="2" id="actual_paramid_2_55"></td>
        <td colspan="2" id="actual_paramid_2_57"></td>
        <td colspan="2" id="actual_paramid_2_59"></td>
        <td colspan="2" id="actual_paramid_2_61"></td>
        <td colspan="2" id="actual_paramid_2_63"></td>
        <td colspan="2" id="actual_paramid_2_65"></td>
        <td colspan="2" id="actual_paramid_2_67"></td>
        <td colspan="2" id="actual_paramid_2_69"></td>
        <td colspan="2" id="actual_paramid_2_71"></td>
        <td colspan="2" id="actual_paramid_2_73"></td>
        <td colspan="2" id="actual_paramid_2_75"></td>
        <td colspan="2" id="actual_paramid_2_77"></td>
        <td colspan="2" id="actual_paramid_2_79"></td>
        <td colspan="2" id="actual_paramid_2_81"></td>
        <td colspan="2" id="actual_paramid_2_83"></td>
        <td colspan="2" id="actual_paramid_2_85"></td>
        <td colspan="2" id="actual_paramid_2_87"></td>
        <td colspan="2" id="actual_paramid_2_89"></td>
        <td colspan="2" id="actual_paramid_2_91"></td>
        <td colspan="2" id="actual_paramid_2_93"></td>
        <td colspan="2" id="actual_paramid_2_95"></td>
    </tr>
    @Html.Partial("~/Views/SmeltPlan/_Crane_Cells.cshtml")
    @Html.Partial("~/Views/SmeltPlan/_CF_Cells.cshtml")
    @Html.Partial("~/Views/SmeltPlan/_AF_Cells.cshtml")
</table>
