<table class="spp_tbl" id="spp_param_group_1_1">
    <tr>
        <th class="parameter_title">FSF Parameters</th>
        <th>UNIT</th>
        <th>Target</th>
    </tr>
    <tr>
        <td class="">FSF Feed</td>
        <td class="">Dmt</td>
        <td id="paramid_fsffeed_target"></td>
    </tr>
    <tr>
        <td class="">Kumera SD Feed</td>
        <td class="">Dmt</td>
        <td id="paramid_kmsd_target"></td>
    </tr>
    <tr>
        <td class="">Operating Time</td>
        <td class="">hrs</td>
        <td id="paramid_optime_target"></td>
    </tr>
    <tr>
        <td class="">Matte Grade</td>
        <td class="">%Cu</td>
        <td id="paramid_mtgrd_target"></td>
    </tr>
    <tr>
        <td class="">Matte Level</td>
        <td class="">%Cu</td>
        <td id="paramid_mtlvl_target"></td>
    </tr>
    <tr>
        <td class="">Matte Temp</td>
        <td class=""></td>
        <td id="paramid_mttmp_target"></td>
    </tr>
    <tr>
        <td class="">Cu in FSSL</td>
        <td class="">%Cu</td>
        <td id="paramid_cuinfssl_target"></td>
    </tr>
    <tr>
        <td class="">Conc. Feed</td>
        <td class=""></td>
        <td id="paramid_concfeed_target"></td>
    </tr>
    <tr>
        <th colspan="3" style="border-style: none; text-align:left;">Remarks</th>
    </tr>
    <tr>
        <th style="border: 3px double #000000; border-image: none; height: 30px; text-align: left;" colspan="3" id="paramid_remarks">- </th>
    </tr>
</table>
<table class="spp_tbl" id="spp_param_group_1_2">
    <tr>
        <th class="parameter_title"></th>
        <th>UNIT</th>
        <th>Target</th>
    </tr>
    <tr>
        <td class="">Cu Loss in Slag</td>
        <td class=""></td>
        <td id="paramid_culoss_target"></td>
    </tr>
    <tr>
        <td class="">Feed to Bin Blending</td>
        <td class=""></td>
        <td id="paramid_bin_target"></td>
    </tr>
    <tr>
        <td class="">Slag Temp</td>
        <td class=""></td>
        <td id="paramid_slagtemp_target"></td>
    </tr>
    <tr>
        <td class="">Slag Level</td>
        <td class=""></td>
        <td id="paramid_slaglvl_target"></td>
    </tr>
    <tr>
        <td class="">Bath Level H1</td>
        <td class="">cm</td>
        <td id="paramid_bathlvlh1_target"></td>
    </tr>
    <tr>
        <td class="">FSF Draft A</td>
        <td class="">mmH2O</td>
        <td id="paramid_drafta_target"></td>
    </tr>
    <tr>
        <td class="">FSF Draft B</td>
        <td class="">mmH2O</td>
        <td id="paramid_draftb_target"></td>
    </tr>
    <tr>
        <td class="">WHB Inlet Temp.</td>
        <td class="">degC</td>
        <td id="paramid_whbtmp_target"></td>
    </tr>
</table>
<table class="spp_tbl" id="spp_param_group_2">
    <tr>
        <th class="parameter_title">CF Parameters</th>
        <th>UNIT</th>
        <th>Target</th>
    </tr>
    <tr>
        <td class="">Cycles per Day</td>
        <td class="">no.</td>
        <td id="paramid_cyccompl_target"></td>
    </tr>
    <tr>
        <td class="">Blister Production</td>
        <td class="">Dmt</td>
        <td id="paramid_blistprod_target"></td>
    </tr>
    <tr>
        <td class="">Total Secondaries Charge</td>
        <td class="">Dmt</td>
        <td id="paramid_ttlsecond_target"></td>
    </tr>
    <tr>
        <td class="">% Blowing Time</td>
        <td class="">%</td>
        <td id="paramid_blowtime_target"></td>
    </tr>
</table>
<table class="spp_tbl" id="spp_param_group_3">
    <tr>
        <th class="parameter_title">AF Parameters</th>
        <th>UNIT</th>
        <th>Target</th>
    </tr>
    <tr>
        <td class="">Blister Treated</td>
        <td class="">Dmt</td>
        <td id="paramid_blisttrd_target"></td>
    </tr>
    <tr>
        <td class="">No. of Lots Casted</td>
        <td class="">no.</td>
        <td id="paramid_lotscasted_target"></td>
    </tr>
    <tr>
        <td class="">Gross Anode Production</td>
        <td class="">Dmt</td>
        <td id="paramid_anodeprod_target"></td>
    </tr>
</table>
