<div id="legend_div" style="clear: both;">
    <h6 style="width: 80%">Legends:</h6>
    <h6 style="width: 20%">Cranes:</h6>
    <table>
        <tr>
            <td id="fsf_normal"></td>
            <td class="legend_label">FSF Normal Operations</td>
            <td id="fsf_stop"></td>
            <td class="legend_label">FSF Stop Charge</td>
        </tr>
        <tr>
            <td id="fsf_slow"></td>
            <td class="legend_label">FSF Slowdown</td>
        </tr>
    </table>
    <table>
        <tr>
            <td id="cf_slag"></td>
            <td class="legend_label">CF Slag Blow</td>
            <td id="af_ref"></td>
            <td class="legend_label">AF Refining</td>
            <td id="maintenance" rowspan="2"></td>
            <td class="legend_label" rowspan="2">Preventive Maintenance/Under Repair</td>
        </tr>
        <tr>
            <td id="cf_copper"></td>
            <td class="legend_label">CF Copper Blow</td>
            <td id="af_cast"></td>
            <td class="legend_label">Casting</td>
        </tr>
    </table>
    <table>
        <tr>
            <td id="crane_off"></td>
            <td class="legend_label">Unavailable</td>
        </tr>
        <tr>
            <td id="crane_on"></td>
            <td class="legend_label">Available</td>
        </tr>
    </table>
</div>
