<h6 id="h6_fsfe">Cooling Water and Soot Blower Tender</h6>
<div id="interfaceid">7</div>
<div id ="fsfe_shift_div">
   <div id="fsfe_shift_left_div">
       <b>Paste Charging</b> 
       <br />
       <div class="fsfe_cbox_group_div">
           <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_45" disabled="disabled"/>&nbsp;&nbsp; &nbsp;Electrode #1</label>
           <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_46" disabled="disabled"/>&nbsp;&nbsp; &nbsp;Electrode #2</label>
           <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_47" disabled="disabled"/>&nbsp;&nbsp; &nbsp;Electrode #3</label>
           
       </div>
       <b>Casing Addition</b> 
       <br />
       <div class="fsfe_cbox_group_div">
           <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_48" disabled="disabled"/>&nbsp;&nbsp; &nbsp;Electrode #1</label>
           <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_49" disabled="disabled"/>&nbsp;&nbsp; &nbsp;Electrode #2</label>
           <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_50" disabled="disabled"/>&nbsp;&nbsp; &nbsp;Electrode #3</label>
           
       </div>
       <b>Testing of Soot Blowers</b> 
       <br />
       <div class="fsfe_cbox_group_div">
           <div class="fsfe_cbox_group_floater_div">
           <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_51" disabled="disabled"/>&nbsp;&nbsp; &nbsp;SB #7</label>
           <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_52" disabled="disabled"/>&nbsp;&nbsp; &nbsp;SB #9</label>
           <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_53" disabled="disabled"/>&nbsp;&nbsp; &nbsp;SB #11</label>
           <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_54" disabled="disabled"/>&nbsp;&nbsp; &nbsp;SB #15</label>
           <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_55" disabled="disabled"/>&nbsp;&nbsp; &nbsp;SB #16</label>
           </div>

          <div class="fsfe_cbox_group_floater_div">
           <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_56" disabled="disabled"/>&nbsp;&nbsp; &nbsp;SB #17</label>
           <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_57" disabled="disabled"/>&nbsp;&nbsp; &nbsp;SB #18</label>
           <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_58" disabled="disabled"/>&nbsp;&nbsp; &nbsp;SB #19</label>
           <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_59" disabled="disabled"/>&nbsp;&nbsp; &nbsp;M2</label>
           <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_60" disabled="disabled"/>&nbsp;&nbsp; &nbsp;M4</label>
           </div>
           <div class="fsfe_cbox_group_footer_div"></div>
       </div>
       <b>Check-up of Cooling Water Discharge</b> 

       <div class="fsfe_cbox_group_div">
           
           <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_61" disabled="disabled"/>&nbsp;&nbsp; &nbsp;RS1 Discharge</label>
           <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_62" disabled="disabled"/>&nbsp;&nbsp; &nbsp;RS2 Discharge</label>
           <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_63" disabled="disabled"/>&nbsp;&nbsp; &nbsp;RS3 Discharge</label>
           <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_64" disabled="disabled"/>&nbsp;&nbsp; &nbsp;RS4 Discharge</label>
           <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_65" disabled="disabled"/>&nbsp;&nbsp; &nbsp;S1 Discharge</label>
           <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_66" disabled="disabled"/>&nbsp;&nbsp; &nbsp;S2 Discharge</label>
           <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_67" disabled="disabled"/>&nbsp;&nbsp; &nbsp;S3 Discharge</label>
           <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_68" disabled="disabled"/>&nbsp;&nbsp; &nbsp;S4 Discharge</label>
           <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_69" disabled="disabled"/>&nbsp;&nbsp; &nbsp;S5 Discharge</label>
         
         
       </div>
   
        <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_70" disabled="disabled"/>&nbsp;&nbsp; &nbsp;Online Lancing Bumping</label>
       
   
   </div>
   <div id="fsfe_shift_right_div">

        <b>Steel Jacket and Copper Jacket Discharge</b> 
        <div class="fsfe_cbox_group_div">
           <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_71" disabled="disabled"/>&nbsp;&nbsp; &nbsp;AQ1 Discharge</label>
           <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_72" disabled="disabled"/>&nbsp;&nbsp; &nbsp;AQ2 Discharge</label>
           <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_73" disabled="disabled"/>&nbsp;&nbsp; &nbsp;AQ3 Discharge</label>
           <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_74" disabled="disabled"/>&nbsp;&nbsp; &nbsp;AQ4 Discharge</label>

        </div>

        <b>Water Trough Discharge</b> 
       <br />
       <div class="fsfe_cbox_group_div">
           <div class="fsfe_cbox_group_floater_div">
               <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_75" disabled="disabled"/>&nbsp;&nbsp; &nbsp;H1</label>
               <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_76" disabled="disabled"/>&nbsp;&nbsp; &nbsp;H2</label>
               <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_77" disabled="disabled"/>&nbsp;&nbsp; &nbsp;H3</label>
               <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_78" disabled="disabled"/>&nbsp;&nbsp; &nbsp;H4</label>
               <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_79" disabled="disabled"/>&nbsp;&nbsp; &nbsp;H5</label>
               <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_80" disabled="disabled"/>&nbsp;&nbsp; &nbsp;H6</label>
               <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_81" disabled="disabled"/>&nbsp;&nbsp; &nbsp;H7</label>
               <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_82" disabled="disabled"/>&nbsp;&nbsp; &nbsp;H8</label>
               <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_83" disabled="disabled"/>&nbsp;&nbsp; &nbsp;H9</label>
               <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_84" disabled="disabled"/>&nbsp;&nbsp; &nbsp;H10</label>
               <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_85" disabled="disabled"/>&nbsp;&nbsp; &nbsp;H11</label>
               <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_86" disabled="disabled"/>&nbsp;&nbsp; &nbsp;H12</label>

           </div>

          <div class="fsfe_cbox_group_floater_div">
               <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_87" disabled="disabled"/>&nbsp;&nbsp; &nbsp;H13</label>
               <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_88" disabled="disabled"/>&nbsp;&nbsp; &nbsp;H14</label>
               <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_89" disabled="disabled"/>&nbsp;&nbsp; &nbsp;H15</label>
               <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_90" disabled="disabled"/>&nbsp;&nbsp; &nbsp;H16</label>
               <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_91" disabled="disabled"/>&nbsp;&nbsp; &nbsp;H17</label>
               <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_92" disabled="disabled"/>&nbsp;&nbsp; &nbsp;H18</label>
               <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_93" disabled="disabled"/>&nbsp;&nbsp; &nbsp;H19</label>
               <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_94" disabled="disabled"/>&nbsp;&nbsp; &nbsp;H20</label>
               <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_95" disabled="disabled"/>&nbsp;&nbsp; &nbsp;H21</label>
               <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_96" disabled="disabled"/>&nbsp;&nbsp; &nbsp;H22</label>
               <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_97" disabled="disabled"/>&nbsp;&nbsp; &nbsp;H23</label>
               <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_98" disabled="disabled"/>&nbsp;&nbsp; &nbsp;H24</label>
           </div>

              <div class="fsfe_cbox_group_floater_div">
               <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_99" disabled="disabled"/>&nbsp;&nbsp; &nbsp;H25</label>
               <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_100" disabled="disabled"/>&nbsp;&nbsp; &nbsp;H26</label>
               <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_101" disabled="disabled"/>&nbsp;&nbsp; &nbsp;H27</label>
               <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_102" disabled="disabled"/>&nbsp;&nbsp; &nbsp;H28</label>
               <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_103" disabled="disabled"/>&nbsp;&nbsp; &nbsp;H29</label>
               <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_104" disabled="disabled"/>&nbsp;&nbsp; &nbsp;H30</label>
               <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_105" disabled="disabled"/>&nbsp;&nbsp; &nbsp;H31</label>
               <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_106" disabled="disabled"/>&nbsp;&nbsp; &nbsp;H32</label>
               <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_107" disabled="disabled"/>&nbsp;&nbsp; &nbsp;H33</label>
               <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_108" disabled="disabled"/>&nbsp;&nbsp; &nbsp;H34</label>
           </div>


           <div class="fsfe_cbox_group_footer_div"></div>

       </div>


            <b>Uptake Cooling Water Discharge</b> 
       <br />
       <div class="fsfe_cbox_group_div">
           <div class="fsfe_cbox_group_floater_div">
               <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_109" disabled="disabled"/>&nbsp;&nbsp; &nbsp;M1</label>
               <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_110" disabled="disabled"/>&nbsp;&nbsp; &nbsp;M2</label>
               <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_111" disabled="disabled"/>&nbsp;&nbsp; &nbsp;M3</label>
               <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_112" disabled="disabled"/>&nbsp;&nbsp; &nbsp;M4</label>
               <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_113" disabled="disabled"/>&nbsp;&nbsp; &nbsp;M5</label>
               <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_114" disabled="disabled"/>&nbsp;&nbsp; &nbsp;M6</label>
               <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_115" disabled="disabled"/>&nbsp;&nbsp; &nbsp;M7</label>
               <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_116" disabled="disabled"/>&nbsp;&nbsp; &nbsp;M8</label>
               <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_117" disabled="disabled"/>&nbsp;&nbsp; &nbsp;M9</label>
           </div>

          <div class="fsfe_cbox_group_floater_div">
               <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_118" disabled="disabled"/>&nbsp;&nbsp; &nbsp;N1</label>
               <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_119" disabled="disabled"/>&nbsp;&nbsp; &nbsp;N2</label>
               <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_120" disabled="disabled"/>&nbsp;&nbsp; &nbsp;N3</label>
               <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_121" disabled="disabled"/>&nbsp;&nbsp; &nbsp;N4</label>
               <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_122" disabled="disabled"/>&nbsp;&nbsp; &nbsp;N5</label>
               <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_123" disabled="disabled"/>&nbsp;&nbsp; &nbsp;N6</label>
               <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_124" disabled="disabled"/>&nbsp;&nbsp; &nbsp;N7</label>
               <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_125" disabled="disabled"/>&nbsp;&nbsp; &nbsp;N8</label>
               <label class="fsfe_cbox_italic_tight"><input type="checkbox" id="cbox_126" disabled="disabled"/>&nbsp;&nbsp; &nbsp;N9</label>
           </div>
           <div class="fsfe_cbox_group_footer_div"></div>
       </div>


   </div>
    <div id="fsfe_last_div">
        <input id="fsfe_cw_sbtender_add_btn" type="button" value="Save" disabled="disabled"/>
    </div>


</div>
          


<script type="text/javascript">
    // for validations (Save Button)
    var checkboxes = $("input[type='checkbox']"),
    submitButt = $("#fsfe_cw_sbtender_add_btn");

    checkboxes.click(function () {
        submitButt.attr("disabled", !checkboxes.is(":checked"));
    });

    //End

    $(document).ready(function () {

        load_fsfe_checklist(5);

    });

</script>
