<h6 id="h6_fsfe">FSFE Highlights</h6>
<div id="interfaceid">9</div>
<div id ="fsfe_shift_div">
    
   <div id="fsfe_shift_left_div">

       <div class="btn_highlights1">
       <img id="fsfe_savehlight_btn" width="25" height="25"  src="../Images/diskette.png" />
      <span id="save_hlight_link" class="btn_label_span">Save Highlights.. </span>
       </div>
       <br />
       <b>1. Activities / Highlights During the Shift</b>
       <br /><br />

       <textarea id="txtarea_fsfe_highlights" disabled="disabled"></textarea>
       <br /><br />
       <b>2. Turn Over</b>
       <br /><br />

       <textarea id="txtarea_fsfe_turnover" disabled="disabled"></textarea>

   </div>
   <div id="fsfe_shift_right_div">

               <div class="btn_highlights2">
             <img id="fsfe_fpattern_btn" width="20" height="20"  src="../Images/red_plus.png" />
              <span id="save_fpattern_link" class="btn_label_span">Add Flame Pattern </span>
        </div>

       <b>3. Flame Pattern</b>
       <br />
       <br />
         <table id="fsfe_flamepattern_table">
        <tr><th style="width: 65%">Flame Pattern Picture</th>
            <th style="width: 65%">Description</th>
            <th style="width: 65%">Delete</th>
            <th style="width: 65%">Edit</th>
        </tr>
       
    </table>

   </div>


</div>
          


<script type="text/javascript">
    
    $(document).ready(function () {

        $(function () {
            $('#DialogHighlight_Select').dialog({
                autoOpen: false,
                width: 350,
                height: 300,
                resizable: false,
                draggable: true,
                title: 'Adding Flame Pattern',
                closeText: 'Close[x]',
                modal: true,
                position: [900, 260]
            });

            $('#DialogHighlightEdit_Select').dialog({
                autoOpen: false,
                width: 350,
                height: 300,
                resizable: false,
                draggable: true,
                title: 'Adding Flame Pattern',
                closeText: 'Close[x]',
                modal: true,
                position: [900, 260]
            });

        });

        load_fsfe_hlight();
        load_fsfe_fpattern();

    });
    

</script>
