@model IEnumerable<PASAROperations.Models.REFTH_RoleType>

<span id="uiNo" style="display:none;">3</span>
<div id="fsfe_shift_div">
    <div id="fsfe_shift_left_div">
        <div id="fsfe_manpower_div">

            <h6 class="h6_fsfe">Commercial Crew Defaults</h6>
            <div id="fsfe_manpower_table_right">
               <img  class="btn_label_span" id="ref_savemanpower_crew_com_btn" width="25" height="25" src="../Images/diskette.png" onclick="save_ref_default_manpower(); return false;" />
                <span id="ref_savemanpower_crew_com_lnk" class="btn_label_span" onclick="save_ref_default_manpower(); return false;">Save Crew Default</span>
                <br />
            </div>
            <div id="fsfe_manpower_table_left">
                 <table class="refinery_manpower_table">                    
                    <tr>
                        <td>Select Crew&nbsp;</td>
                        <td><select id="rfm_select_crew" onchange="enable_rfm_select()"><option value="0">--Select--</option></select></td>
                    </tr>
                </table>
                <table class="refinery_manpower_table" id="rfm_crew_commercial">
                   <tr>
                        <th>Work Assignment</th>
                        <th>Employee Name</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@Html.ValueFor(modelItem => item.REFTH_RoleTypeName)&nbsp;</td>
                        <td><select id="ref_manpower_@Html.ValueFor(modelItem => item.REFTH_RoleTypeId)_@Html.ValueFor(modelItem => item.REFTH_RoleGroupId)" disabled="disabled">
                            <option value="0">--Select--</option></select>
                            @*@Html.DropDownList("FSFEEmplist_roleid_1", (SelectList)ViewBag.FSFEEmpList, "-- Select --", new { @class = "fsfe_emplist", @disabled = "disabled" })*@</td>
                    </tr>
                    }
                </table>
            </div>
            

        </div>
        <br />

    </div>

</div>

<!-- -->
<script type="text/javascript">

    $(document).ready(function () {
      
        //pass the department ID of COMMERCIAL CELLS
        load_ref_employee_crew_default(1211);

        $('select').change(function () {
            $(this).css({ 'background-color': '#DFD8D1' });
            $(this).addClass('changed');
        });

        //Disable <select> option when selected in another <select>
        //$('select').mouseover(function (e) {
            // loop each select and set the selected value to disabled in all other selects
        //    $('select').each(function () {
        //        var $this = $(this);
        //        $('select').not($this).find('option').each(function () {
        //            if ($(this).attr('value') == $this.val() || $(this).attr('value') == $this.text())
        //                $(this).attr('disabled', true);
        //        });
        //    });
        //});
        //end
    });
</script>
