<tr class="graphcells">
    <th rowspan="2" style="border-bottom: none">CRANE 1</th>
    <th class="label_th">PLAN</th>
    <td id="paramid_23_1"></td>
    <td id="paramid_23_2"></td>
    <td id="paramid_23_3"></td>
    <td id="paramid_23_4"></td>
    <td id="paramid_23_5"></td>
    <td id="paramid_23_6"></td>
    <td id="paramid_23_7"></td>
    <td id="paramid_23_8"></td>
    <td id="paramid_23_9"></td>
    <td id="paramid_23_10"></td>
    <td id="paramid_23_11"></td>
    <td id="paramid_23_12"></td>
    <td id="paramid_23_13"></td>
    <td id="paramid_23_14"></td>
    <td id="paramid_23_15"></td>
    <td id="paramid_23_16"></td>
    <td id="paramid_23_17"></td>
    <td id="paramid_23_18"></td>
    <td id="paramid_23_19"></td>
    <td id="paramid_23_20"></td>
    <td id="paramid_23_21"></td>
    <td id="paramid_23_22"></td>
    <td id="paramid_23_23"></td>
    <td id="paramid_23_24"></td>
    <td id="paramid_23_25"></td>
    <td id="paramid_23_26"></td>
    <td id="paramid_23_27"></td>
    <td id="paramid_23_28"></td>
    <td id="paramid_23_29"></td>
    <td id="paramid_23_30"></td>
    <td id="paramid_23_31"></td>
    <td id="paramid_23_32"></td>
    <td id="paramid_23_33"></td>
    <td id="paramid_23_34"></td>
    <td id="paramid_23_35"></td>
    <td id="paramid_23_36"></td>
    <td id="paramid_23_37"></td>
    <td id="paramid_23_38"></td>
    <td id="paramid_23_39"></td>
    <td id="paramid_23_40"></td>
    <td id="paramid_23_41"></td>
    <td id="paramid_23_42"></td>
    <td id="paramid_23_43"></td>
    <td id="paramid_23_44"></td>
    <td id="paramid_23_45"></td>
    <td id="paramid_23_46"></td>
    <td id="paramid_23_47"></td>
    <td id="paramid_23_48"></td>
    <td id="paramid_23_49"></td>
    <td id="paramid_23_50"></td>
    <td id="paramid_23_51"></td>
    <td id="paramid_23_52"></td>
    <td id="paramid_23_53"></td>
    <td id="paramid_23_54"></td>
    <td id="paramid_23_55"></td>
    <td id="paramid_23_56"></td>
    <td id="paramid_23_57"></td>
    <td id="paramid_23_58"></td>
    <td id="paramid_23_59"></td>
    <td id="paramid_23_60"></td>
    <td id="paramid_23_61"></td>
    <td id="paramid_23_62"></td>
    <td id="paramid_23_63"></td>
    <td id="paramid_23_64"></td>
    <td id="paramid_23_65"></td>
    <td id="paramid_23_66"></td>
    <td id="paramid_23_67"></td>
    <td id="paramid_23_68"></td>
    <td id="paramid_23_69"></td>
    <td id="paramid_23_70"></td>
    <td id="paramid_23_71"></td>
    <td id="paramid_23_72"></td>
    <td id="paramid_23_73"></td>
    <td id="paramid_23_74"></td>
    <td id="paramid_23_75"></td>
    <td id="paramid_23_76"></td>
    <td id="paramid_23_77"></td>
    <td id="paramid_23_78"></td>
    <td id="paramid_23_79"></td>
    <td id="paramid_23_80"></td>
    <td id="paramid_23_81"></td>
    <td id="paramid_23_82"></td>
    <td id="paramid_23_83"></td>
    <td id="paramid_23_84"></td>
    <td id="paramid_23_85"></td>
    <td id="paramid_23_86"></td>
    <td id="paramid_23_87"></td>
    <td id="paramid_23_88"></td>
    <td id="paramid_23_89"></td>
    <td id="paramid_23_90"></td>
    <td id="paramid_23_91"></td>
    <td id="paramid_23_92"></td>
    <td id="paramid_23_93"></td>
    <td id="paramid_23_94"></td>
    <td id="paramid_23_95"></td>
    <td id="paramid_23_96"></td>
</tr>
<tr class="graphcells">
    <th class="label_th">ACTUAL</th>
    <td id="actual_paramid_9_1"></td>
    <td id="actual_paramid_9_2"></td>
    <td id="actual_paramid_9_3"></td>
    <td id="actual_paramid_9_4"></td>
    <td id="actual_paramid_9_5"></td>
    <td id="actual_paramid_9_6"></td>
    <td id="actual_paramid_9_7"></td>
    <td id="actual_paramid_9_8"></td>
    <td id="actual_paramid_9_9"></td>
    <td id="actual_paramid_9_10"></td>
    <td id="actual_paramid_9_11"></td>
    <td id="actual_paramid_9_12"></td>
    <td id="actual_paramid_9_13"></td>
    <td id="actual_paramid_9_14"></td>
    <td id="actual_paramid_9_15"></td>
    <td id="actual_paramid_9_16"></td>
    <td id="actual_paramid_9_17"></td>
    <td id="actual_paramid_9_18"></td>
    <td id="actual_paramid_9_19"></td>
    <td id="actual_paramid_9_20"></td>
    <td id="actual_paramid_9_21"></td>
    <td id="actual_paramid_9_22"></td>
    <td id="actual_paramid_9_23"></td>
    <td id="actual_paramid_9_24"></td>
    <td id="actual_paramid_9_25"></td>
    <td id="actual_paramid_9_26"></td>
    <td id="actual_paramid_9_27"></td>
    <td id="actual_paramid_9_28"></td>
    <td id="actual_paramid_9_29"></td>
    <td id="actual_paramid_9_30"></td>
    <td id="actual_paramid_9_31"></td>
    <td id="actual_paramid_9_32"></td>
    <td id="actual_paramid_9_33"></td>
    <td id="actual_paramid_9_34"></td>
    <td id="actual_paramid_9_35"></td>
    <td id="actual_paramid_9_36"></td>
    <td id="actual_paramid_9_37"></td>
    <td id="actual_paramid_9_38"></td>
    <td id="actual_paramid_9_39"></td>
    <td id="actual_paramid_9_40"></td>
    <td id="actual_paramid_9_41"></td>
    <td id="actual_paramid_9_42"></td>
    <td id="actual_paramid_9_43"></td>
    <td id="actual_paramid_9_44"></td>
    <td id="actual_paramid_9_45"></td>
    <td id="actual_paramid_9_46"></td>
    <td id="actual_paramid_9_47"></td>
    <td id="actual_paramid_9_48"></td>
    <td id="actual_paramid_9_49"></td>
    <td id="actual_paramid_9_50"></td>
    <td id="actual_paramid_9_51"></td>
    <td id="actual_paramid_9_52"></td>
    <td id="actual_paramid_9_53"></td>
    <td id="actual_paramid_9_54"></td>
    <td id="actual_paramid_9_55"></td>
    <td id="actual_paramid_9_56"></td>
    <td id="actual_paramid_9_57"></td>
    <td id="actual_paramid_9_58"></td>
    <td id="actual_paramid_9_59"></td>
    <td id="actual_paramid_9_60"></td>
    <td id="actual_paramid_9_61"></td>
    <td id="actual_paramid_9_62"></td>
    <td id="actual_paramid_9_63"></td>
    <td id="actual_paramid_9_64"></td>
    <td id="actual_paramid_9_65"></td>
    <td id="actual_paramid_9_66"></td>
    <td id="actual_paramid_9_67"></td>
    <td id="actual_paramid_9_68"></td>
    <td id="actual_paramid_9_69"></td>
    <td id="actual_paramid_9_70"></td>
    <td id="actual_paramid_9_71"></td>
    <td id="actual_paramid_9_72"></td>
    <td id="actual_paramid_9_73"></td>
    <td id="actual_paramid_9_74"></td>
    <td id="actual_paramid_9_75"></td>
    <td id="actual_paramid_9_76"></td>
    <td id="actual_paramid_9_77"></td>
    <td id="actual_paramid_9_78"></td>
    <td id="actual_paramid_9_79"></td>
    <td id="actual_paramid_9_80"></td>
    <td id="actual_paramid_9_81"></td>
    <td id="actual_paramid_9_82"></td>
    <td id="actual_paramid_9_83"></td>
    <td id="actual_paramid_9_84"></td>
    <td id="actual_paramid_9_85"></td>
    <td id="actual_paramid_9_86"></td>
    <td id="actual_paramid_9_87"></td>
    <td id="actual_paramid_9_88"></td>
    <td id="actual_paramid_9_89"></td>
    <td id="actual_paramid_9_90"></td>
    <td id="actual_paramid_9_91"></td>
    <td id="actual_paramid_9_92"></td>
    <td id="actual_paramid_9_93"></td>
    <td id="actual_paramid_9_94"></td>
    <td id="actual_paramid_9_95"></td>
    <td id="actual_paramid_9_96"></td>
</tr>
<tr class="graphcells">
    <th rowspan="2" style="border-top: none">CRANE 2</th>
    <th class="label_th">PLAN</th>
    <td id="paramid_24_1"></td>
    <td id="paramid_24_2"></td>
    <td id="paramid_24_3"></td>
    <td id="paramid_24_4"></td>
    <td id="paramid_24_5"></td>
    <td id="paramid_24_6"></td>
    <td id="paramid_24_7"></td>
    <td id="paramid_24_8"></td>
    <td id="paramid_24_9"></td>
    <td id="paramid_24_10"></td>
    <td id="paramid_24_11"></td>
    <td id="paramid_24_12"></td>
    <td id="paramid_24_13"></td>
    <td id="paramid_24_14"></td>
    <td id="paramid_24_15"></td>
    <td id="paramid_24_16"></td>
    <td id="paramid_24_17"></td>
    <td id="paramid_24_18"></td>
    <td id="paramid_24_19"></td>
    <td id="paramid_24_20"></td>
    <td id="paramid_24_21"></td>
    <td id="paramid_24_22"></td>
    <td id="paramid_24_23"></td>
    <td id="paramid_24_24"></td>
    <td id="paramid_24_25"></td>
    <td id="paramid_24_26"></td>
    <td id="paramid_24_27"></td>
    <td id="paramid_24_28"></td>
    <td id="paramid_24_29"></td>
    <td id="paramid_24_30"></td>
    <td id="paramid_24_31"></td>
    <td id="paramid_24_32"></td>
    <td id="paramid_24_33"></td>
    <td id="paramid_24_34"></td>
    <td id="paramid_24_35"></td>
    <td id="paramid_24_36"></td>
    <td id="paramid_24_37"></td>
    <td id="paramid_24_38"></td>
    <td id="paramid_24_39"></td>
    <td id="paramid_24_40"></td>
    <td id="paramid_24_41"></td>
    <td id="paramid_24_42"></td>
    <td id="paramid_24_43"></td>
    <td id="paramid_24_44"></td>
    <td id="paramid_24_45"></td>
    <td id="paramid_24_46"></td>
    <td id="paramid_24_47"></td>
    <td id="paramid_24_48"></td>
    <td id="paramid_24_49"></td>
    <td id="paramid_24_50"></td>
    <td id="paramid_24_51"></td>
    <td id="paramid_24_52"></td>
    <td id="paramid_24_53"></td>
    <td id="paramid_24_54"></td>
    <td id="paramid_24_55"></td>
    <td id="paramid_24_56"></td>
    <td id="paramid_24_57"></td>
    <td id="paramid_24_58"></td>
    <td id="paramid_24_59"></td>
    <td id="paramid_24_60"></td>
    <td id="paramid_24_61"></td>
    <td id="paramid_24_62"></td>
    <td id="paramid_24_63"></td>
    <td id="paramid_24_64"></td>
    <td id="paramid_24_65"></td>
    <td id="paramid_24_66"></td>
    <td id="paramid_24_67"></td>
    <td id="paramid_24_68"></td>
    <td id="paramid_24_69"></td>
    <td id="paramid_24_70"></td>
    <td id="paramid_24_71"></td>
    <td id="paramid_24_72"></td>
    <td id="paramid_24_73"></td>
    <td id="paramid_24_74"></td>
    <td id="paramid_24_75"></td>
    <td id="paramid_24_76"></td>
    <td id="paramid_24_77"></td>
    <td id="paramid_24_78"></td>
    <td id="paramid_24_79"></td>
    <td id="paramid_24_80"></td>
    <td id="paramid_24_81"></td>
    <td id="paramid_24_82"></td>
    <td id="paramid_24_83"></td>
    <td id="paramid_24_84"></td>
    <td id="paramid_24_85"></td>
    <td id="paramid_24_86"></td>
    <td id="paramid_24_87"></td>
    <td id="paramid_24_88"></td>
    <td id="paramid_24_89"></td>
    <td id="paramid_24_90"></td>
    <td id="paramid_24_91"></td>
    <td id="paramid_24_92"></td>
    <td id="paramid_24_93"></td>
    <td id="paramid_24_94"></td>
    <td id="paramid_24_95"></td>
    <td id="paramid_24_96"></td>
</tr>
<tr class="graphcells">
    <th class="label_th">ACTUAL</th>
    <td id="actual_paramid_24_1"></td>
    <td id="actual_paramid_24_2"></td>
    <td id="actual_paramid_24_3"></td>
    <td id="actual_paramid_24_4"></td>
    <td id="actual_paramid_24_5"></td>
    <td id="actual_paramid_24_6"></td>
    <td id="actual_paramid_24_7"></td>
    <td id="actual_paramid_24_8"></td>
    <td id="actual_paramid_24_9"></td>
    <td id="actual_paramid_24_10"></td>
    <td id="actual_paramid_24_11"></td>
    <td id="actual_paramid_24_12"></td>
    <td id="actual_paramid_24_13"></td>
    <td id="actual_paramid_24_14"></td>
    <td id="actual_paramid_24_15"></td>
    <td id="actual_paramid_24_16"></td>
    <td id="actual_paramid_24_17"></td>
    <td id="actual_paramid_24_18"></td>
    <td id="actual_paramid_24_19"></td>
    <td id="actual_paramid_24_20"></td>
    <td id="actual_paramid_24_21"></td>
    <td id="actual_paramid_24_22"></td>
    <td id="actual_paramid_24_23"></td>
    <td id="actual_paramid_24_24"></td>
    <td id="actual_paramid_24_25"></td>
    <td id="actual_paramid_24_26"></td>
    <td id="actual_paramid_24_27"></td>
    <td id="actual_paramid_24_28"></td>
    <td id="actual_paramid_24_29"></td>
    <td id="actual_paramid_24_30"></td>
    <td id="actual_paramid_24_31"></td>
    <td id="actual_paramid_24_32"></td>
    <td id="actual_paramid_24_33"></td>
    <td id="actual_paramid_24_34"></td>
    <td id="actual_paramid_24_35"></td>
    <td id="actual_paramid_24_36"></td>
    <td id="actual_paramid_24_37"></td>
    <td id="actual_paramid_24_38"></td>
    <td id="actual_paramid_24_39"></td>
    <td id="actual_paramid_24_40"></td>
    <td id="actual_paramid_24_41"></td>
    <td id="actual_paramid_24_42"></td>
    <td id="actual_paramid_24_43"></td>
    <td id="actual_paramid_24_44"></td>
    <td id="actual_paramid_24_45"></td>
    <td id="actual_paramid_24_46"></td>
    <td id="actual_paramid_24_47"></td>
    <td id="actual_paramid_24_48"></td>
    <td id="actual_paramid_24_49"></td>
    <td id="actual_paramid_24_50"></td>
    <td id="actual_paramid_24_51"></td>
    <td id="actual_paramid_24_52"></td>
    <td id="actual_paramid_24_53"></td>
    <td id="actual_paramid_24_54"></td>
    <td id="actual_paramid_24_55"></td>
    <td id="actual_paramid_24_56"></td>
    <td id="actual_paramid_24_57"></td>
    <td id="actual_paramid_24_58"></td>
    <td id="actual_paramid_24_59"></td>
    <td id="actual_paramid_24_60"></td>
    <td id="actual_paramid_24_61"></td>
    <td id="actual_paramid_24_62"></td>
    <td id="actual_paramid_24_63"></td>
    <td id="actual_paramid_24_64"></td>
    <td id="actual_paramid_24_65"></td>
    <td id="actual_paramid_24_66"></td>
    <td id="actual_paramid_24_67"></td>
    <td id="actual_paramid_24_68"></td>
    <td id="actual_paramid_24_69"></td>
    <td id="actual_paramid_24_70"></td>
    <td id="actual_paramid_24_71"></td>
    <td id="actual_paramid_24_72"></td>
    <td id="actual_paramid_24_73"></td>
    <td id="actual_paramid_24_74"></td>
    <td id="actual_paramid_24_75"></td>
    <td id="actual_paramid_24_76"></td>
    <td id="actual_paramid_24_77"></td>
    <td id="actual_paramid_24_78"></td>
    <td id="actual_paramid_24_79"></td>
    <td id="actual_paramid_24_80"></td>
    <td id="actual_paramid_24_81"></td>
    <td id="actual_paramid_24_82"></td>
    <td id="actual_paramid_24_83"></td>
    <td id="actual_paramid_24_84"></td>
    <td id="actual_paramid_24_85"></td>
    <td id="actual_paramid_24_86"></td>
    <td id="actual_paramid_24_87"></td>
    <td id="actual_paramid_24_88"></td>
    <td id="actual_paramid_24_89"></td>
    <td id="actual_paramid_24_90"></td>
    <td id="actual_paramid_24_91"></td>
    <td id="actual_paramid_24_92"></td>
    <td id="actual_paramid_24_93"></td>
    <td id="actual_paramid_24_94"></td>
    <td id="actual_paramid_24_95"></td>
    <td id="actual_paramid_24_96"></td>
</tr>
