<div id="spp_header">
    <span id="page_id">3</span>
</div>
<div id="keyprocess_div">
    <div id="date_div">
        <table>
            <tr>
                <th>DATE:</th>
                <td><span id="date_span"></span></td>
            </tr>
        </table>
    </div>
    @Html.Partial("~/Views/Shared/_SmeltPlan_ParamTables_Plan.cshtml")
</div>
<div id="planvsactual_div" style="clear: both">
    @Html.Partial("~/Views/Shared/_SmeltPlan_Plan.cshtml")
</div>
    @Html.Partial("~/Views/Shared/_SmeltPlan_Legend.cshtml")
<script type="text/javascript">
    $(document).ready(function () {
        if ($('#fsfe_prod_id').text() != "") {
            var date = $('#fsfe_shiftdate').val();
            load_plan_actual();
            load_target_numeric(date);
        }
        var span_date = new Date($('#fsfe_shiftdate').val());
        var span_date_ = span_date.toString("MMM dd, yyyy");
        $('#date_span').text(span_date_);
        //load_timeseriess('5-21-2016');
    });

</script>