#AF_ActivityCode_Table th {
    background-color: #0026ff;
    color: #ddd;
} 

#AF_ActivityCode_Table {
    border-collapse: collapse;
    width: 100%;
}

#AF_ActivityCode_Table th, #AF_ActivityCode_Table td {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

#AF_ActivityCode_Table h5 {
    color: white !important;   
}

    #AF_ActivityCode_Table tr:nth-child(odd) {
        background-color: lightgrey;
    }